body {
	font-family: arial, Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
    /* color: #878787; */	background-color:#000 !important;
	background-image:url(../images/bgg.jpg) !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment:fixed !important;
}
	
	
	::selection {
 background:#383838 !important
}
	::-moz-selection {
 background:#383838 !important
}
h1 {
	font-family: Oswald, Arial, Helvetica, sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: #ffffff;
}
h2 {
	font-family: Oswald, Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #ffffff;
}
h3 {
	font-family: Oswald, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
}
h4 {
	font-family: Oswald, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
}
h5 {
	font-family: Oswald, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
}
h6 {
	font-family: Oswald, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
	font-weight: inherit;
	color: inherit;
}
a {
	color: #000000;
}
a:hover, a:focus {
	color: #ACACAC;
}
.sf-menu a {
	font-size: 14px;
	color: #ffffff;
	font-family: Oswald, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.sf-menu a:hover {
	color: #ffffff;
}
.sf-menu li li a {
}
.head {
	border-top-width:5px;
}
.head {
	background-color:#000000;
}
.head.sticky {
	background-color:#000000
}
.header_bag span, .fLeft:hover, .fRight:hover, #toTop, .nicescroll-rails div, .pagination-tt ul li a:hover, .big-slider .flex-direction-nav a, .big-slider .flex-direction-nav a:hover, #mobilepro {
	background-color:#383838 !important
}
.headdown {
	background-color:#262626 !important;
}
.headdown.sticky {
	background-color:#262626 !important;
}
.headdown {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}
.header_v12 .sf-menu ul {
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}
.header_v12 .head {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.sf-menu ul li {
	background-color:#191919 !important;
}
.sf-menu li li a {
	color:#FFFFFF !important
}
.sf-menu li li:first-child {
	border-top-color:#ff006c !important
}
.sf-menu i {
	color:#FFFFFF !important
}
.sf-menu li.back .left {
	border-bottom-color:#ff006c !important
}
.header_v7 .sf-menu li.back .left {
	border-top-color:#ff006c
}
.header_v6 .sf-menu li.back, .header_v8 .sf-menu li.back {
	background:#ff006c
}
.sf-menu .subarrow i {
	color:#ff006c !important
}
.info, .info a, .info a:hover {
	color:#777777
}
.info {
	margin-top:56px;
}
.header_v2 .sf-menu, .header_v10 .sf-menu, .header_v12 .sf-menu {
	margin-top:40px;
}
.sticky .logo {
	margin:5px 0px;
	width:170px
}
.logo {
	width:220px;
	margin-top:30px;
	margin-bottom:30px
}
.widget li a:before, .tags a:before, .widget_tag_cloud a:before, .widget_official_tags a:before, .wp-tag-cloud li a:before, .tagcloud a:before, .countdown li span {
	color: #383838 !important
}
.col-title {
	border-color:#383838 !important
}
.head, .arrow-down, .tabs li a.active, .tt_tabs .tt_tabs_nav li.ui-tabs-active a {
	border-top-color:#383838 !important
}
.pagination-tt ul li a, .pagination-tt ul li span {
	border-bottom-color:#383838 !important
}
.tt_tour .tt_tabs_nav li.ui-tabs-active a {
	border-left-color:#383838 !important
}
.extrabox {
	background:#000000
}
.social a i {
	color:#ACACAC;
}
i:before {
	color:#ACACAC;
}
.social.with_color i {
	color:#FFF !important;
}
.social-head {
	margin-top:48px;
}
.tbutton, .filterable.st4 ul.filter li.current {
	background-color:#191919;
}
.tbutton.tbutton5.color1, .tbutton.tbutton6.color1, .tbutton.tbutton7.color1, .filterable.st6 ul.filter li.current a, .filterable.st7 ul.filter li.current a {
	border-color:#191919;
	color:#191919;
}
.tbutton.tbutton5.color1 i, .tbutton.tbutton6.color1 i, .tbutton.tbutton7.color1 i {
	color:#191919;
}
.footer-last {
	background-color:#0c0c0c;
}
#footer {
	color:#BFBFBF;
}
#footer a {
	color:#CCCCCC
}
#footer a:hover {
	color:#FFFFFF
}
#footer .col-title {
	color:#ff006c !important;
	border-color:#ff006c !important
}
#footer .liner {
	border-color:#7a7a7a !important
}
#footer .copyright {
	color:#545454
}
#footer .copyright a {
	color:#6b6b6b !important;
}
#footer .foot-menu li a, #footer .foot-menu li:before {
	color:#FFFFFF !important;
}
#footer i {
	color:#999999
}
.breadcrumb-place {
	background-color:#0B0B0B;
	height:110px;
	line-height:110px
}
.page-title {
	color:#FFFFFF;
	padding-top: 50px;
}
.breadcrumbIn span, .breadcrumbIn ul, .breadcrumbIn ul li, .breadcrumbIn ul li a {
	color:#C2C2C2;
}
.sf-menu ul li i, #toTopi, .arrow-down i {
	color:#FFFFFF;
}
#footer {
	background-color:#1e1e1e !important;
}
.shopping_bag {
	top:52px;
}
.header_bag a i {
	color:#A7A7A7;
}
.header_bag span {
	color:#EEEEEE;
	background-color:#191919 !important;
}
.shop .widget_price_filter .ui-slider .ui-slider-range, .shop .ui-widget-header, .shop .widget_layered_nav_filters ul li a, .shop .ui-slider .ui-slider-handle {
	background-color:#383838 !important
}
.shop #content input.button, .shop #respond input#submit, .shop a.button, .shop button.button, .shop input.button, .shop #content .quantity .minus, .shop #content .quantity .plus, .shop .quantity .minus, .shop .quantity .plus {
	background:#191919 !important;
}
.shop a span.onsale, .shop span.onsale {
	background:#ff006c !important;
}
 @media only screen and (max-width: 767px) and (min-width: 480px) {
 .sf-menu a:hover {
background-color: !important
}
}
.tparrows {
	text-align:center;
	font-family:FontAwesome;
	line-height:40px;
	font-size:15px;
	color:#FFF;
	width:40px !important;
	height:40px !important;
	border-radius:4px;
	background:none !important;
	background-color:#191919 !important;
	opacity:.6
}
.tp-leftarrow.default:before {
	content: "\f104";
}
.tp-rightarrow.default:before {
	content: "\f105";
}
.tp-rightarrow:hover, .tp-leftarrow:hover {
	opacity:1
}
.tp-bullets {
	background:none !important;
}
.rev_slider_wrapper .tp-bullets.simplebullets.navbar-old .bullet {
	background:#ccc !important;
	width:12px !important;
	height:12px !important;
	margin:0 3px !important;
	border-radius:50%;
}
.rev_slider_wrapper .tp-bullets.simplebullets.navbar-old .bullet:hover, .rev_slider_wrapper .tp-bullets.simplebullets.navbar-old .bullet.selected {
	background:#191919 !important;
}
.boxed-margin {
	border-radius: 5px;
}
.boxed-margin .footer-last {
	border-radius:5px 5px 0 0;
}
 .headdown {
 height: 42px;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,700);
.tp-caption a {
	color:#ff7302;
	text-shadow:none;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out
}
.tp-caption a:hover {
	color:#ffa902
}
.tp-caption a {
	color:#ff7302;
	text-shadow:none;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out
}
.tp-caption a:hover {
	color:#ffa902
}
.countdown li span {
	color: #ff006c !important;
}
.tt_custom_1409983708930 {
	margin-top: -50px !important;
	margin-bottom: 0px !important;
}
.tt_custom_1410091155004 {
	margin-bottom: -40px !important;
}
.tt_custom_1410092112691 {
	margin-bottom: -40px !important;
}
.recentcomments a {
	display:inline !important;
	padding:0 !important;
	margin:0 !important;
}
.tp-caption.largewhitebg {
	position:absolute;
	color:#000;
	text-shadow:none;
	font-weight:300;
	font-size:50px;
	line-height:70px;
	font-family:"Open Sans";
	background-color:#fff;
	padding:0px 20px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px
}
.tp-caption.excerpt5 {
	font-size:45px;
	line-height:30px;
	font-weight:100;
	font-family:Impact, Charcoal, sans-serif;
	color:rgb(255,255,255);
	text-decoration:none;
	background-color:rgba(0, 0, 0, 0.49);
	padding:12px 15px 17px;
	text-shadow:none;
	margin:0px;
	letter-spacing:-1.5px;
	height:auto;
	border-width:0px;
	border-color:rgb(255,255,255);
	border-style:none
}
.tp-caption.excerpt6 {
	font-size:26px;
	line-height:30px;
	font-weight:100;
	font-family:Impact, Charcoal, sans-serif;
	color:#ffffff;
	text-decoration:none;
	background-color:rgba(0, 0, 0, 0.62);
	padding:5px 10px 6px 10px;
	text-shadow:none;
	margin:0px;
	letter-spacing:1px;
	height:auto;
	border-width:0px;
	border-color:rgb(255,255,255);
	border-style:none
}
.tp-caption.medium_bg_pink {
	font-size:20px;
	line-height:20px;
	font-weight:800;
	font-family:"Open Sans";
	color:rgb(255,255,255);
	text-decoration:none;
	background-color:rgb(255,0,108);
	padding:8px 10px 9px;
	border-width:0px;
	border-color:rgb(255,214,88);
	border-style:none
}
.largewhitebg {
	position:absolute;
	color:#000;
	text-shadow:none;
	font-weight:300;
	font-size:50px;
	line-height:70px;
	font-family:"Open Sans";
	background-color:#fff;
	padding:0px 20px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px
}
.excerpt5 {
	font-size:45px;
	line-height:30px;
	font-weight:100;
	font-family:Impact, Charcoal, sans-serif;
	color:rgb(255,255,255);
	text-decoration:none;
	background-color:rgba(0, 0, 0, 0.49);
	padding:12px 15px 17px;
	text-shadow:none;
	margin:0px;
	letter-spacing:-1.5px;
	height:auto;
	border-width:0px;
	border-color:rgb(255,255,255);
	border-style:none
}
.excerpt6 {
	font-size:26px;
	line-height:30px;
	font-weight:100;
	font-family:Impact, Charcoal, sans-serif;
	color:#ffffff;
	text-decoration:none;
	background-color:rgba(0, 0, 0, 0.62);
	padding:5px 10px 6px 10px;
	text-shadow:none;
	margin:0px;
	letter-spacing:1px;
	height:auto;
	border-width:0px;
	border-color:rgb(255,255,255);
	border-style:none
}
.medium_bg_pink {
	font-size:20px;
	line-height:20px;
	font-weight:800;
	font-family:"Open Sans";
	color:rgb(255,255,255);
	text-decoration:none;
	background-color:rgb(255,0,108);
	padding:8px 10px 9px;
	border-width:0px;
	border-color:rgb(255,214,88);
	border-style:none
}
/*Rez1 custom-style */
.custom-ds {
	display: none;
}
.custom-extra-map {
	width:100%;
	height:350px;
}
.custom-h2 {
	font-size: 34px;
	color: #ffffff;
	text-align: center;
	font-family:Oswald;
	font-weight:300;
	font-style:normal !important;
}
.custom-wrapbox1 {
	background-color:#1a1a1a !important;
}
.custom-parallax1 {
	background-image:url(../images/nnn.jpg) !important;
}
.custom-color-white {
	color: #ffffff !important;
}
.custom-color1 {
	color: #7a7a7a;
}
.custom-button1 {
	border-color:#ffffff;
	color:#ffffff !important;
}
.custom-button2 {
	border-color:#ff006c;
	color:#ff006c !important;
}
.custom-h5 {
	height: 5px;
}
.custom-h10 {
	height: 10px;
}
.custom-h15 {
	height: 15px;
}
.custom-h20 {
	height: 20px;
}
.custom-h25 {
	height: 25px;
}
.custom-h30 {
	height: 30px;
}
.custom-h35 {
	height: 35px;
}
.custom-h40 {
	height: 40px;
}
.custom-h45 {
	height: 45px;
}
.custom-h50 {
	height: 50px;
}
.custom-h55 {
	height: 55px;
}
.custom-h60 {
	height: 60px;
}
.custom-h65 {
	height: 65px;
}
.custom-h70 {
	height: 70px;
}
.custom-h75 {
	height: 75px;
}
.custom-h80 {
	height: 80px;
}
.custom-h85 {
	height: 85px;
}
.custom-h90 {
	height: 90px;
}
.custom-h95 {
	height: 95px;
}
.custom-h100 {
	height: 100px;
}
.custom-h110 {
	height: 110px;
}
.custom-h120 {
	height: 120px;
}
/* Pages */
		.custom-color-icon-p1 {
	color:#8224e3 !important;
}
.custom-color-icon-p2 {
	color:#dd0000 !important;
}
.custom-color-icon-p3 {
	color:#6ed624 !important;
}
.custom-color-icon4 {
	color:#1e73be !important;
}
.custom-color-icon-p5, .custom-button3 {
	color:#d69c51 !important;
}
.custom-color-icon6 {
	color:#cc0000 !important;
}
.custom-color-icon7 {
	background-color:#0ab290 !important;
	color:#fff !important;
}
.custom-color-icon8 {
	background-color:#2f9124 !important;
	color:#fff !important;
}
.custom-color-icon9 {
	background-color:#db8906 !important;
	color:#fff !important;
}
.custom-color-icon10 {
	background-color:#00b70c !important;
	color:#fff !important;
}
.custom-color-icon11 {
	background-color:#092cef !important;
	color:#fff !important;
}
.custom-color-icon12 {
	background-color:#f9bf00 !important;
	color:#fff !important;
}
.custom-color-icon13 {
	background-color:#0ab290 !important;
	color:#fff !important;
}
.custom-color-icon14 {
	background-color:#60bec9 !important;
	color:#fff !important;
}
.custom-color-icon15, .custom-button6 {
	border-color:#999999;
	color:#999999 !important;
}
.custom-color-icon16 {
	color:#dd3333 !important;
}
.custom-icon-color19 {
	color:#8224e3 !important;
}
.custom-icon-color20 {
	color:#72bf3b !important;
}
.custom-icon-color25 {
	color:#dd0000 !important;
}
.custom-icon-color26 {
	color:#999 !important;
}
.custom-icon-color27 {
	color:#91db08 !important;
}
.custom-icon-color34 {
	background-color:#8224e3;
}
.custom-button-p1 {
	border-color:#bc0000;
	color:#bc0000 !important;
}
.custom-button6 {
	border-color:#999999;
	color:#999999 !important
}
.custom-gf1 {
	font-family:'Codystar', serif !important;
	font-size:50px !important;
	line-height:50px !important;
	color:#666666;
	margin: 30px 0 !important;
}
.custom-gf2 {
	font-family:'Prosto One', serif !important;
	font-size:27px !important;
	line-height:27px !important;
	color:#92c419;
	margin: 40px 0 !important;
}
.custom-gf3 {
	font-family:'Arizonia', serif !important;
	font-size:42px !important;
	line-height:42px !important;
	color:#3387cf;
	margin: 40px 0 !important;
}
.custom-gf4 {
	font-family:'Sacramento', serif !important;
	font-size:50px !important;
	line-height:50px !important;
	color:#333333;
	margin: 40px 0 !important;
}
.custom-gf5 {
	font-family:'Gloria Hallelujah', serif !important;
	font-size:31px !important;
	line-height:31px !important;
	color:#cc0000;
	margin: 40px 0 !important;
}
.custom-gf6 {
	font-family:'Qwigley', serif !important;
	font-size:70px !important;
	line-height:70px !important;
	color:#adadad;
	text-align:center;
	margin: 0px !important;
}
.custom-gf7 {
	font-family:'Gloria Hallelujah', serif !important;
	font-size:70px !important;
	line-height:70px !important;
	color:#ffffff;
	text-align:center;
	margin: 50px 0 !important;
}
.custom-icon-color30 {
	background-color:#0095d1 !important;
	color:#fff !important;
}
.custom-icon-color31 {
	background-color:#dd0000 !important;
	color:#fff !important;
}
.custom-icon-color32 {
	background-color:#76bf11 !important;
	color:#fff !important;
}
.custom-icon-color33 {
	color:#4fb538 !important;
}
.custom-parallaxp1 {
	background-color:#f6f6f6 !important;
	background-image:url() !important;
}
.custom-a7 {
	border-color:#8224e3;
	color:#8224e3 !important;
}
.custom-a8 {
	border-color:#72bf3b;
	color:#72bf3b !important;
}
.custom-gm1 {
	width:1060;
	height:300px;
}
.custom-pb1 {
	background-color:#cc0000 !important;
}
.custom-pb2 {
	background-color:#F07F7F !important;
}
.custom-pb3 {
	background-color:#191919 !important;
}
.custom-pb4 {
	background-color:#bc7910 !important;
}
.custom-pb5 {
	background-color:#69D869 !important;
}
.custom-pb7 {
	background-color:#004ecc !important;
}
.custom-pb8 {
	background-color:#666666 !important;
}
.custom-gm2 {
	width:100%;
	height:300px;
}
.custom-gm3 {
	width:100%;
	height:250px;
}
.custom-hs-color1 {
	background-color:#272727;
	color: #FFF;
}
.custom-hs-color2 {
	background-color:#FD7F67;
	color: #FFFFFF;
}
.custom-icon-color21 {
	color:#cc0000 !important;
}
.custom-icon-color22 {
	color:#1ABC9C !important;
}
.custom-icon-color24 {
	color:#ff7000 !important;
}
.custom-gmap1 {
	width:500;
	height:265px;
}
#header .search input {
	border: 1px solid #000;
}
.custom-parallaxp2 {
	background-image:url(../images/1920x500.jpg) !important;
}
.custom-parallaxp3 {
	background-color:#ffffff !important;
	background-image:url(../images/1920x500.jpg) !important;
}
.custom-parallaxp4 {
	background-color:#f6f6f6 !important;
	background-image:url(../images/1920x500.jpg) !important;
}
.custom-parallaxp5 {
	background-color:#f6f6f6 !important;
	background-image:url(../images/1920x500.jpg) !important;
}

.logo-img {
   
    height: 100px;
}
.sticky .logo-img {
     height: 0px;
  
    width: 0px;
}

.sidebar.left {
 opacity:    0.5; 
  background: #fff; 
  width:      270px;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}

.sidebar.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 270px;
    background: #448AFF;
}

.sidebar.bottom {
    left: 0;
    right: 0;
    bottom: 0;
    height: 270px;
    background: #03A9F4;
}

.sidebar.top {
    left: 0;
    right: 0;
    top: 0;
    height: 270px;
    background: #03A9F4;
}

.sidebars > .sidebar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    position: fixed;
    color: white;
    padding: 30px;
    font-size: 2em;
    text-align: center;
}
.headdown{
  z-index: 360;
  top: 0;
  height: 45px;
  width: 100%;
  background: #3e454c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}







.page-content {
    background-color: rgb(0,0,0,0.5);
    background: rgba(0,0,0,0.5);
}
.head {
    background-color: rgb(0,0,0,0.7);
    background: rgba(0,0,0,0.7);
}



 table {
	background:transparent !important;
	font-size:13px;
	text-align:center;
	border-collapse:collapse;
	margin:0;
	padding:0;
	width:100% !important;
	overflow:hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
 table th {
	font-size:14px;
	font-weight:normal;
	text-align:center;
	padding:16px 12px;
	color:#ffffff;
	text-shadow:none;
}
 table td { 
	padding:14px 7px 14px 7px;
	text-align: center;
}
 table tr {
	border-bottom:1px solid #fff;
	background-color:rgba(35,35,35,0.7);
	-moz-transition:all .2s;
	-webkit-transition:all .2s;
	-o-transition:all .2s;
}
 table tr:hover, tr.topic-sticky {
	background:#222;
	transition:all .2s;
}
 table tfoot td {
	padding:10px 16px;
	text-align: left;
	color:#ffffff;
	font-size:11px;
	text-shadow:none;
}
 table i:before {
	font-size:16px;
}


