	
                                 

<div class="gap clearfix custom-h50" ></div>

<div class="action style3  clearfix">
                            <div class="inner">
                                <div class="matn">


						<div>
						<h3 class="col-title">{$widget['widget_title']}</h3>
						<span class="liner"></span>
						
            <div class="tt_text_column tt_content_element ">
							{nl2br($widget['widget_shortcontent'])|noescape}
							
						<!--	
						<div >
						<a style="float:{$lang['opj_align']};display:block;" class="tbutton small  color1" href="#" target="_blank" ><span><i class="icon-leaf"></i> {$lang['more']} </span></a>
						</div>
						-->
						
						
            </div>
						</div> 
					
                                </div>
                            </div>
                        </div>



                                 

						
			