<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Admin Login</title>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<link href="admin/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!-- -->

</head>
<body>
<!-- contact-form -->	
<div class="message warning">
<div class="inset">
	<div class="login-head">
		<h1>Admin Login</h1>
	</div>
		<form method="POST">
		                        {if isset($errors) && count($errors) > 0}
                        {foreach $errors as $error}
                        {$error}<br>
                        {/foreach}
                        {/if}
			<li>
				 <input name="username" id="reg_username" type="text"  class="form-control" placeholder="اسم المستخدم"><a href="#" class=" icon user"></a>
			</li>
				<div class="clear"> </div>
			<li>
			<input name="password" id="reg_pass" type="password"  class="form-control" placeholder="password"><a href="#" class="icon lock"></a>
			</li>
			<div class="clear"> </div>
			<div class="submit">
				<input type="submit" value="Sign in" >
						  <div class="clear">  </div>	
			</div>
				
		</form>
		</div>					
	</div>
	</div>
	<div class="clear"> </div>
</body>
</html>