{layout 'main.html'}
{block membership}class="active"{/block}



{block content}
{var $membership = rad\app\model\membership::getmemberships($pageid,20)}




			                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                           <a href="admin/membership.html">طلبات العضوية</a> 
                           
                        </h1>
                    </div>
                </div>

                <div class="row">
                



                
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>طلبات العضوية </h3> 
                            </div>
                            <div class="panel-body">
                            <div class="row">
                              <table class="table table-bordered table-hover">
                            <thead>
                            
                            <th>اسم صاحب الطلب</th>
                            <th>تاريخ ارسال الطلب</th>
                            <th>خيارات</th>
                            </thead>
                            
                            <tbody>
                            {foreach $membership['membership'] as $onemembership}
                            <tr {if $onemembership['membership_readed'] == 0} class="danger"{/if}>
                            <td><a href="admin/membership.html/read/{$onemembership['membership_id']}">{$onemembership['membership_firstname']} {$onemembership['membership_fathername']} {$onemembership['membership_middlename']} {$onemembership['membership_familyname']}</a></td>
                            <td>{var $onemembership['membership_time'] = date("d/m/Y h:i:s a",$onemembership['membership_time'])}   {$onemembership['membership_time']}</td>
                            <td><a href="admin/membership.html/delete/{$onemembership['membership_id']}" onclick="return confirm('هل انت متاكد من انك تريد حذف هذا الطلب?')" class="btn btn-xs btn-danger">حذف</a></td>                          
                            </tr>
                            {/foreach}
                            </tbody>
                           
                            </table>
                            

                            
                            
                            </div>
                   <div class="row">
<ul class="pagination">
{for $i = 1; $i < $membership['pagesnumber']+1; $i++}
 {if $i == $pageid} 
 <li  class="disabled"><a href=''>{$i}</a></li>
 {else}
 <li ><a href="admin/membership.html/{$i}">{$i}</a></li>
{/if}
{/for}
</ul>
                   </div>
                            </div>
                        </div>
                    </div>
                   




                   


                    
                    
                    
                </div>
                <!-- /.row -->

{/block}